@import  'src/Scss/vars.scss';
@import 'src/Scss/mixins.scss';
.WorkPageMain { 
    width: 100%; 
    padding: 0; 
    img {        
        width: 100%;
        @include tablet-992 {
            height: 476px;           
            
        }
    }
}