@import  'src/Scss/vars.scss';
@import 'src/Scss/mixins.scss';

.conclusion {
    margin-bottom: 15.3rem;
    @include mobile-576 {
        margin-bottom: 8.3rem;
    }
    &__desc {
        @include text($ff, 3.2rem, 5.4rem, 700, $color-white);        
        letter-spacing: -0.5px;
        margin-bottom: 128px;
        @include mobile-576 {
            @include text($ff, 3rem, 4.4rem, 700, $color-white);  
            margin-bottom: 109px;
        }
    }
    &__img {
        img { 
        @include tablet-992 {
            height: 577px;
        }
        }
    }
    &__link {
        display: flex;
        margin-top: 224px;
        justify-content: center;
        a {
            display: inline-block;
            @include text($ff, 3.2rem, 5.4rem, 700, $color-white);        
            letter-spacing: -0.5px;
            @include hover-underline;
            @include press;
        }       
        @include mobile-576 {
            margin-top: 140px;
        }       
    }
}