@import  'src/Scss/vars.scss';
@import 'src/Scss/mixins.scss';


.header {    
    background: rgba(50, 50, 50, 0.7);
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    max-width: 1920px;
    &__container {
        @include flex-between;
        padding: 2rem 1.5rem 2rem 1rem;
    }
    &__logo {
        @include text($ff, 2rem, 2.7rem, 800, $color-text);
        letter-spacing: -0.5px;
        display: flex;
        align-items: center;
        gap: 11px;
    }
    &__ul {
        display: flex;
        gap: 6rem; 
        transition: $transition;
        .icon-close {
            display: none;
        }
        &:after,&:before{
            content:" ";
            width: 10px;
            height: 10px;
            position: absolute;
            border: 0px solid $color-bg;
            transition: all .8s;
            z-index: -1;
            opacity: 0;
        }
        &:after{
            top: 1px;
            left: 1px;
            border-top:5px solid $color-bg;
            border-left:5px solid $color-bg;
        }
        &:before{
            bottom: 1px;
            right: 1px;
            border-bottom:5px solid $color-bg;
            border-right:5px solid $color-bg;
        }        
        @include mobile-576 {
			z-index: 99;
			position: fixed;
			width: 100%;
			height: 100vh;
			overflow-y: auto;
			background: $color-bg;
			left: 0;
			top: 0;
			color: $color-text;			
			flex-direction: column;
			justify-content: center;
			align-items: center;
            gap: 3rem;			
			transform: translateX(-120%);
            &.active {
                transform: translateX(0);
                &:before,&:after{
                    opacity: 1;           
                    width:100%;
                    height:100%;
                    border-color: $color-primary;
                }
            }
            .icon-close {
                display: inline-block;
                position: absolute;
                top: 25px;
                right: 25px;
                cursor: pointer;
            }  
        }         
    }
    &__a {
        display: block;
        @include text($ff, 1.8rem, 2.5rem, 700, $color-text); 
        letter-spacing: -0.5px;  
        @include hover-underline;
        @include press;
        @include mobile-576 {
            font-size: 2.5rem;
            line-height: 3rem;
        }
    }
    &__burger {
        display: none;        
        @include mobile-576 {
            display: inline-block;
            color: $color-text;
           
        }
    }
}


