@import  'src/Scss/vars.scss';
@import 'src/Scss/mixins.scss';


.header {    
    background: rgba(50, 50, 50, 0.7);
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    max-width: 1920px;
    &__container {
        @include flex-between;
        padding: 2rem 8px;
    }
    &__logo {
        @include text($ff, 2rem, 2.7rem, 800, $color-text);
        letter-spacing: -0.5px;
        display: flex;
        align-items: center;
        gap: 11px;
    }
    &__ul {
        display: flex;
        gap: 6rem; 
        .icon-close {
            display: none;
        }
        @include mobile-576 {
			z-index: 99;
			position: fixed;
			width: 100%;
			height: 100vh;
			overflow-y: auto;
			background: $color-primary;
			left: 0;
			top: 0;
			color: $color-white;			
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transition: $transition;
			transform: translateX(-120%);
        } 
        &.active {
            transform: translateX(0);
        }
        .icon-close {
            display: inline-block;
            position: absolute;
            top: 20px;
            right: 20px;
        }  
    }
    &__a {
        display: block;
        @include text($ff, 1.8rem, 2.5rem, 700, $color-text); 
        letter-spacing: -0.5px;  
        @include hover-underline;
        @include press;
    }
    &__burger {
        display: none;        
        @include mobile-576 {
            display: inline-block;
            color: $color-text;
           
        }
    }
}
