@import  'src/Scss/vars.scss';
@import 'src/Scss/mixins.scss';
.work {
    padding-top: 9.6rem;
    padding-bottom: 33.8rem;
    @include mobile-576 {
        padding-top: 3.9rem;
        padding-bottom: 11.6rem;
    }
    &__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;        
        @include mobile-576 {
            grid-template-columns: 1fr;
        }
    }
}
.row-card {
    border-radius: 4px;
    max-width: 612px;
    position: relative;
    transition: $transition;
    &:nth-child(2n) {
        transform: translateY(138px);
        @include mobile-576 {
            transform: translateY(0);
        }
    }
    span {
        transition: $transition;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: red;
        z-index: 10;
        @include text($ff, 4rem, 5.5rem, 700, $color-text);
        letter-spacing: -0.5px;
        opacity: 0;
        // color: #DEDEDE;
    }
    img {
        transition: $transition;  
    }
    &:hover {
        img {
            filter: brightness(.4) saturate(.6) contrast(1);
        }        
        span{
            opacity: 1;
            filter: brightness(1);
        }
    }
}
