@import  'src/Scss/vars.scss';
@import 'src/Scss/mixins.scss';

.footer {    
    padding: 49px 0;
    border-top: 1px solid $footer-line;
    @include tablet-small-768{
        justify-content: center;            
    }
    &__container {
        @include flex-between;
    }
    &__copyright {
        @include text ($ff, 1.6rem, 3.6rem, 600, $color-grey);
        letter-spacing: -0.5px;
        span {
            color: #ECECEC;
        }        
    }
    &__links {
        display: flex;
        gap: 43px;
        a {
            @include text ($ff, 16px, 19px, 400, $color-white);
            transition: $transition; 
            &:hover {
                color: $color-primary;
            }           
        }
        
    }
}