
@import 'src/Scss/vars';
@import 'src/Scss/mixins';

*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    height: 100%;
}
.overflow-y-hidden {
	overflow-y: hidden;
}
.wrapper {
    max-width: 1920px;
    margin-inline: auto;
    height: 100%; 
    display: grid; 
    grid-template-rows: auto 1fr auto;
}
.container {
    max-width: 1270px;
    padding: 0 15px;
    margin-inline: auto;
    @include mobile-576 {
        padding: 0 24px;        
    }
}
body {
    font-family: $ff;
    background: $color-bg;  
    height: 100%;  
}
#root {
    height: 100%;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0; 
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
ul {
    list-style: none;
}
button {
    padding: 0;
  }
.title {
    @include text($ff, 3.6rem, 4.9rem, 700, $color-text);    
    text-align: center;
    letter-spacing: -0.5px;
    @include mobile-576 { 
        @include text($ff, 2.8rem, 3.8rem, 700, $color-text);        
        
    }
}
.page2-title {
    @include text($ff, 1.6rem, 1.6rem, 700, $color-text);    
    letter-spacing: 1.5px;
    text-transform: uppercase;
    opacity: 0.7;    
    margin-bottom: 12px;  
    
}

