
@include tablet-small-768 {
    .header__ul {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background: $color-primary;
        left: 0;
        top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        transform: translateX(120%);
        transition: $transition;
        z-index: 99;
    }
    .header__ul.active {
        transform: translateX(0%);
        z-index: 99;
    }
    .header__ul .material-symbols-outlined {
        display: inline-block;
        position: fixed;
        top: 40px;
        right: 40px;
        color: $color-white;
    }
    .header__a {
        color: $color-white;
        font-size: 30px;
        line-height: 46px;
        font-weight: 600;
    }
    .header__a:hover {
        text-decoration: underline;
        color: $color-white;
        
    }

}
