$ff: 'Manrope', sans-serif;

$color-black: #000;
$color-white: #fff;
$color-primary: #2ec743;
$color-text: #DEDEDE;
$color-bg:  #202020;
$color-grey: #959595;
$color-btn: #9D9D9D;
$footer-line: #696969;

$transition: .3s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;


