$ff: 'Work Sans', sans-serif;

$color-black: #000;
$color-white: #fff;
$color-primary: #8842F0;
$color-text: #262626;
$color-cards-text: #575757;
$color-cards: #F9F1FE;
$color-grey: #6C6C6C;

$transition: .2s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;


